:root{
    --c-primary:#7D7DC8;
    --c-secondary:#4D4B6A;
    --c-tertiary: #74728A;
    --c-light: #fff;
    --c-edit: #13B1B7;
    --c-delete: #DF395B;

    --c-message-error: #F3CBCB;
    --c-message-success: #CBF3D3;
    --c-message-edit: #98F6F9;

    --c-text-error: #540000;
    --c-text-success: #044006;
    --c-text-edit: #3C8082;

    --z-back: -10;
    --z-normal: 1;
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}